<ion-header  >
  <ion-toolbar color="success"  > 
<ion-buttons  slot="start">
    <ion-menu-button ></ion-menu-button>
    
  </ion-buttons>
  
      
<ion-title >All Task</ion-title>
</ion-toolbar>


</ion-header>

  
<ion-content class="task_details">
  

    <ion-card color="success" class= "filter"  *ngFor="let task of task" (click)="viewDetails(task)">
      <div class="task_details">
            <span class= "title">{{ task.title}}.</span> <br>
          <ion-icon name="trending-up"></ion-icon>
          {{ ProgressLevels[task.progress_level] }}. <br>
          <ion-icon name="calendar"></ion-icon>
         {{ task.due_date}}.<br>
         <ion-icon name="arrow-forward"></ion-icon>
         Click
      </div>
    </ion-card>
      
   
  

        



    
   
    
 



</ion-content>

