.filter{
    padding: 10px 10px 10px 10px;
    color: white;
}

.title{
    font-size: 20px;
}
.priority {
    text-transform: capitalize;
  }

  .red{
    color:#f04141;

}
.yellow{
  color:#ffce00

}
.green{
    color:#10dc60;

}
