<ion-header  >
    <ion-toolbar color="success"  > 
  <ion-buttons  slot="start">
      <ion-menu-button ></ion-menu-button>
      
    </ion-buttons>
    
        
  <ion-title >Progress</ion-title>
</ion-toolbar>

</ion-header>

<ion-content >
    
        
          <ion-card color="success"  *ngFor="let task of task">
              {{ task.title}}.<br> {{ task.progress_level}}</ion-card> 
              
          
       

      <!-- <ion-item color="primary">
          <ion-label position="stacked">Progress Level</ion-label> 
        <ion-select [(ngModel)]= "formdata.progress_level">
          <ion-select-option value ="started">Started</ion-select-option>
          <ion-select-option value ="not_started">Not Started</ion-select-option>
          <ion-select-option value ="complete">Complete</ion-select-option>
        </ion-select>
        </ion-item>
    
      <ion-button color="success" expand="full"  (click)="updateTask()">Update</ion-button> -->

      </ion-content>

      
    