<!-- 1 -->
<ion-header  >
    <ion-toolbar color="success"  > 
  <ion-buttons  slot="start">
      <ion-menu-button ></ion-menu-button>
      
    </ion-buttons>
    
       
  <ion-title>Tasks Progress</ion-title>
</ion-toolbar>

</ion-header>

<ion-content>
  
    <!-- <P>Priority Level Color:</P> -->
    <ion-item>
      <ion-icon class="red" name="egg"></ion-icon><p>High</p><br>
      <ion-icon class="yellow" name="egg"></ion-icon><p>Medium</p><br><br>
      <ion-icon class="green" name="egg"></ion-icon><p>Low</p><br>
 
 </ion-item>
<ion-card class="filter" *ngFor="let task of tasks" [ngStyle]="{'background-color': changeColor(task)}">
<span class="title">{{ task.title }}.</span><br>
 <ion-icon name="trending-up"></ion-icon>   {{ ProgressLevels[task.progress_level] }}<br>
 <ion-icon name="trending-up"></ion-icon>  <span class="priority"> {{task.priority_level}}</span>
</ion-card> 

<br>
<ion-button color="success" (click) = "updateLevel()" expand="full" >Update Progress</ion-button> 
</ion-content>