<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button>Category</ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<!-- <ion-content >
<ion-card color="primary">
  <ion-card-content>
   -->

   <!-- <ion-item color="primary" >
      <ion-label position="stacked">Filter</ion-label>
      
    <ion-select   [(ngModel)]= "task" (ionChange)= "getSearch($event)" >
      <ion-select-option  (ionChange)= "getSearch($event)"value ="category">Category</ion-select-option>
      <ion-select-option   value ="priority_level">Priority Level</ion-select-option>
      <ion-select-option value ="due_date">Due date</ion-select-option>
    </ion-select> 
    </ion-item>

    <ion-list  > -->
     
        <ion-content >
            <!-- <ion-card color="primary">
              <ion-card-content>
              <ion-list  >
                
                  <ion-card color="primary"  *ngFor="let task of task">
                      {{ task.title}}.<br>  {{ task.category}}</ion-card> 
                  
                  
               </ion-list>
              </ion-card-content> -->

              <ion-item >
                  <ion-label position="stacked">Category</ion-label>
                  <!-- <ion-input [(ngModel)] = "formdata.category"></ion-input> -->
                  <ion-select [(ngModel)]= "formdata.category">
                      <ion-select-option value ="one">One</ion-select-option>
                      <ion-select-option value ="two">Two</ion-select-option>
                      <ion-select-option value ="three">Three</ion-select-option>
                    </ion-select>
                </ion-item>
        
                <ion-item >
                    <ion-label position="stacked">Priority</ion-label>
                    
                  <ion-select [(ngModel)]= "formdata.priority_level">
                    <ion-select-option value ="high">High</ion-select-option>
                    <ion-select-option value ="medium">Medium</ion-select-option>
                    <ion-select-option value ="low">low</ion-select-option>
                  </ion-select>
                  </ion-item>
              
                <!-- <ion-item >
                   
                    <ion-label position="stacked">Due Date</ion-label>
                    <ion-select [(ngModel)]= "formdata.due_date">
                    <ion-select-option value ="due_date">Due Date</ion-select-option>
                    </ion-select>
                
                </ion-item> -->
                 <ion-button color="success" (click) = "addFilter()" expand="full" >Filter</ion-button> 
        

      
        
     <!-- </ion-list> -->
  
