<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
  
    <ion-title>Task</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  >
  
    
    <ion-item color="primary">
        <ion-label position="floating">Title</ion-label>
        <ion-input [(ngModel)] = "formdata.title"></ion-input>
      </ion-item>
    <ion-item color="primary">
        <ion-label position="floating">Description</ion-label>
        <ion-input [(ngModel)] = "formdata.description"></ion-input>
      </ion-item>
    <ion-item color="primary">
        <!-- <ion-label position="floating">Due Date/Due Time</ion-label> -->
        <ion-label position="floating">Due Date/Due Time(YYYY-MM-DD HH:mm:ss)</ion-label>
        <ion-input  [(ngModel)] = "formdata.due_date"></ion-input>
        <!-- <ion-datetime [(ngModel)] = "formdata.due_date" displayFormat="YYYY-MM-DDTHH:mm:ss" min="2017-06-04" max="2027-08-23"  ></ion-datetime> -->
      </ion-item>

      
    
      <ion-item color="primary">
          <ion-label position="floating">Priority</ion-label>
          
        <ion-select [(ngModel)]= "formdata.priority_level">
          <ion-select-option value ="high">High</ion-select-option>
          <ion-select-option value ="medium">Medium</ion-select-option>
          <ion-select-option value ="low">low</ion-select-option>
        </ion-select>
        </ion-item>
    
    
    
      <ion-item color="primary">
        <ion-label position="floating">Category</ion-label>
        <ion-input [(ngModel)] = "formdata.category"></ion-input>
      </ion-item>
      
      <ion-item color="primary">
          <ion-label position="floating">Progress Level</ion-label> 
        <ion-select [(ngModel)]= "formdata.progress_level">
          <ion-select-option value ="started">Started</ion-select-option>
          <ion-select-option value ="not_started">Not Started</ion-select-option>
          <ion-select-option value ="complete">Complete</ion-select-option>
        </ion-select>
        </ion-item>
    
      <ion-button color="success" (click)="addTask()">Update</ion-button>

    

      </ion-content>
