  
  <ion-header >
    <ion-toolbar >
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
    <ion-title>All Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card color="primary">
    <ion-card-content>
    <ion-list  >
      
        <ion-item *ngFor="let task of task"><ion-label>Title--{{ task.title}}, description---{{ task.description}}, 
          Due Date--{{ task.due_date}}, Priority Level--{{ task.priority_level}}, Category-- {{ task.category}}, Progress Level--{{ task.progress_level}}     </ion-label></ion-item>
        
     </ion-list>
    </ion-card-content>
   

  </ion-card>
  <!-- <ion-button color="success" (click)="gotoAddTask()">Add Task</ion-button> -->
  <h1>Filter Task</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button (click)="gotoCategory()">
              category
          </ion-button>
      </ion-col>
      <ion-col>
          <ion-button (click)="gotoPriority()">
              Priority level
          </ion-button>
      </ion-col>
      <ion-col>
          <ion-button (click)="gotoDate()">
              Due Date
          </ion-button>
      </ion-col>
      </ion-row>
    
    </ion-grid>
  
  
  <!-- <ion-fab>
    <ion-fab-button>category</ion-fab-button>
  </ion-fab><br>
  <ion-fab>
    <ion-fab-button>priority Level</ion-fab-button>
  </ion-fab>
  <ion-fab>
    <ion-fab-button>Due Date</ion-fab-button>
  </ion-fab> -->

<!--  -->

  
</ion-content>
