
  <ion-header  >
      <ion-toolbar color="success"  > 
    <ion-buttons  slot="start">
        <ion-menu-button ></ion-menu-button>
        
      </ion-buttons>
      
          
    <ion-title >Filter Task</ion-title>
  </ion-toolbar>
  
</ion-header>

  
       
          <ion-content >
              <ion-grid no-padding>
                <ion-item >
                    <ion-label position="stacked">Category</ion-label>
                    <!-- <ion-input [(ngModel)] = "formdata.category"></ion-input> -->
                    <ion-select [(ngModel)]= "formdata.category">
                        <ion-select-option value ="one">One</ion-select-option>
                        <ion-select-option value ="two">Two</ion-select-option>
                        <ion-select-option value ="three">Three</ion-select-option>
                      </ion-select>
                  </ion-item>
          
                  <ion-item >
                      <ion-label position="stacked">Priority</ion-label>
                      
                    <ion-select [(ngModel)]= "formdata.priority_level">
                      <ion-select-option value ="high">High</ion-select-option>
                      <ion-select-option value ="medium">Medium</ion-select-option>
                      <ion-select-option value ="low">low</ion-select-option>
                    </ion-select>
                    </ion-item>

                    <ion-item >
                        <ion-label position="stacked">Due Date</ion-label>
                        
                        <ion-datetime  displayFormat="YYYY-MM-DD" value="0000-00-00" [(ngModel)]="formdata.due_date" min="2019" max="2030"></ion-datetime> 
                    </ion-item>
                
                  
                   <ion-button color="success" (click) = "addFilter()" expand="full" >Filter</ion-button> 

                   <ion-row>
                      <ion-col no-padding>
                        <ion-img src="/assets/notepad2.jpg"></ion-img>
                      </ion-col>
                    </ion-row>
                </ion-grid>
          
  
        
          </ion-content>
       
    
  