<ion-header>
    <ion-toolbar color="success">
        <ion-title>Update</ion-title>
        <br>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
  <ion-card   *ngFor='let task of tasks'>
          
      {{task.title}}
      <br>
  
      <select (change)="updateData(task, $event)">
      
    <option>Choose Update:</option>
    <option  value ="not_started">Not Started</option>           
  <option value ="started" >Started</option>  
  <option value ="complete">Completed</option> 
</select>


</ion-card> 
    
</ion-content>


