<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  
  
</ion-header>
<!-- <ion-content color="primary">
    <!-- <ion-card>
    <h1 class="card-title">Task Manager</h1>
    <img class="img-responsive" src="/assets/Main page 4.png"/>
  </ion-card>
  
    <div  class="card-subtitletwo"><ion-button color="success" (click)="signIn()" >Sign In</ion-button></div>
    <div  class="card-subtitleone"><ion-button color="success" (click)="signUp()" >Register</ion-button></div>
  
   -->
   
<!-- </ion-content> --> 







<ion-content class="card-background-page">

  <ion-card >
    <img class="img-responsive" src="/assets/Main page.png"/>
    <!-- <img class="img-responsive" src="/assets/images.jpg"/> -->
    
    <div class="card-title">Task Manager</div>
    <!-- <div class="card-subtitle">Plan your Schedule</div> --> 
     <div  class="card-subtitletwo"><ion-button color="success" (click)="signIn()" >Sign In</ion-button></div>
  <div   class="card-subtitleone"><ion-button color="success" (click)="signUp()" >Register</ion-button></div>

  </ion-card>
  
</ion-content> 

   
  
