<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img class="img-responsive" src="/assets/Main page.png"/>
    
    <div class="card-title">Planner Application</div>
    <!-- <div class="card-subtitle">Plan your Schedule</div> -->
    <div class="card-subtitletwo"><ion-button (click)="signIn()" >Sign In</ion-button></div>
  <div class="card-subtitleone"><ion-button (click)="signUp()" >Register</ion-button></div>

  </ion-card>
</ion-content>

   
  
